# {{ ansible_managed }}

[Desktop Entry]
Version=1.0
Type=Application
Name=Postman
Icon={{ postman_home }}/resources/app/assets/icon.png
Exec="{{ postman_home }}/Postman" %f
Comment=Develop with pleasure!
Categories=Development;
Terminal=false
StartupWMClass=Postman
