#!/bin/bash

java -jar {{ ansible_user_dir }}/swarm-client-3.4.jar \
     -master {{ jenkins_master }} \
     -sslFingerprints "" \
     -username {{ jenkins_user }} \
     -password {{ jenkins_password }} \
     -name {{ ansible_hostname }} \
     -executors 1 \
     -labels "{{labels}}" \
     >> jenkins-node.log 2>&1 &
