#!/bin/bash

java -jar {{ ansible_user_dir }}/swarm-client-3.4.jar \
     -master {{ master }} \
     -sslFingerprints "" \
     -username {{ user }} \
     -password {{ password }} \
     -name {{ ansible_hostname }} \
     -executors {{ executors }} \
     -labels "{{labels}}" \
     >> jenkins-node.log 2>&1 &
